/* ==== Reset start ===== */
* {
	box-sizing: border-box;
}
*:focus {
	outline: none;
}
body {
	margin: 0;
	background-color: #fff;
	color: #777;
	font:  300 15px/1 'open sans', sans-serif;
}
h1, h2, h3, h4, h5, h6, {
	margin: 0;
	font-weight: normal;
}
p {
	margin: 0;
}
ul, ol{
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	color: inherit;
	text-decoration: none;
	line-height: 0;
}
input,
textarea,
button {
	outline: none;
	border: none;
}
button {
	cursor: pointer;
	background-color: transparent;
}
textarea {
	resize: vertical;
}
input[type="submit"] {
	cursor: pointer;
}
img {
	max-width: 100%;s
}
blockquote {
	margin: 0;
}

/* ===== Reset end ===== */

/* ===== Default classes start ===== */
/*  text color, transform, alighn; background color; float */

.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-justify {
	text-align: justify;
}
.bg-black {
	background-color: #111;
}
.bg-grey {
	background: color #f8f8f8;
}
.m-auto {
	float: none;
	margin-left: auto;
	margin-right: auto;
}
/* ===== Default classes end ===== */

/* ===== Default components start ===== */
/* container, text, title, section, small section, button, header, footer, form elements, icons, tabs, block quote */

.header {
	padding: 27px 0;
	position: fixed;
	top: 0;
	z-index: 99;
	width: 100%;
	overflow: hidden;
	text-transform: uppercase;
	color: #fff;
}
.header .logo {
    float: left;
}
.header .header-nav {
    float: right;
}
.header .header-nav li {
	float: left;
	line-height: 21px;
	font-size: 11px;
	letter-spacing: .3em;
	color: rgba(255, 255, 255, .75);
}
.header .header-nav li + li {
    margin-left: 35px;
}
.default-section {
	padding: 135px 0;
}
.small-section {
	padding: 70px 0;
}
.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: auto;
}
.container-fluid {
	padding: 0 15px;
}
.title {
	font-family: 'Dosis', 'sans-serif';
	text-transform: uppercase;
	color: #111;
}
.title.title-white {
	color: #fff;
}
.title.section-title {
	font-size: 18px;
	font-weight: 400;
	letter-spacing: .5em;
	margin-bottom: 75px;
}
.title.section-title-light {
	font-weight: 300;
	letter-spacing: .3em;
	margin-bottom: 20px;
}
.default-text {
	font-size: 15px;
	line-height: 1.733333;
	font-weight: 300;
}
blockquote, 
.blockquote {
	font-size: 24px;
	font-weight: 300;
	line-height: 1.6;
}
blockquote span,
.blockquote span {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: .2em;
}
.btn {
	display: inline-block;
	padding: 12px 20px;
	border-radius: 2px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: .2em;
}
.btn[disabled] {
	cursor: not-allowed;
	opacity: .6;
}
.btn.btn-default {
	background-color: #e5e5e5;
	color: #777;
}
.btn.btn-default:hover {
	background-color: #d1d0d0;
}
.btn.btn-black {
	background-color: #323232;
	color: #fff;
}
.btn.btn-black:hover {
	background-color: #000;
}
.btn.btn-xs {
	padding: 7px 15px;
	font-size: 11px;
}
.form-control {
	width: 100%;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	height: 36px;
	font-size: 12px;
	font-family: 'open sans';
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: .2em;
	color: #777;
	padding-left: 13px;
	padding-right: 13px;
}
.form-control:focus {
	border-color: #111;
}
textarea.form-control {
	min-height: 82px;
	padding-top: 10px;
}
.form-control[disabled],
.form-control.disabled {
	cursor: not-allowed;
	opacity: .6;
}
.form-control.error {
	border-color: #f57e7e;
}
.icon {
	font-size: 48px;
	color: #111;
	margin-bottom: 35px;
}
.rhomb-icon {
	display: inline-block;
	width: 23px;
	height: 23px;
	text-align: center;
	line-height: 23px;
	border-radius: 2px;
	font-size: 14px;
	transform: rotate(45deg);
}
.rhomb-icon.black-icon {
	color: #fff;
	background-color: #111;
}	
.rhomb-icon.transparent-icon {
	background-color: transparent;
}
.rhomb-icon i {
	transform: rotate(-45deg);
}
.footer {
	background-color: #f8f8f8;
	padding-bottom: 60px;
}
.footer .footer-logo { 
	color: #282828;
	padding: 5px 0;
	margin-bottom: 11px;
}
.footer .rhomb-icon {
	border: 1px solid #000;
	margin: 9px;
}
.footer .rhomb-icon i {
	color: #111; 
}
.footer .footer-info {
	margin-top: 80px;
}
.footer .footer-info span {
	display: block;
}
.footer .footer-info .footer-copy {
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 0.5em;
	line-height: 2;
	color: #111;
}
.footer .footer-info .footer-moto {
	font-size: 11px;
	color: #999;
	line-height: 2.18;
}
/* ===== Default components end ===== */
/* ===== Guide style start ===== */
.guide-section form .form-control {
	margin-bottom: 10px;
}
/* ===== Guide style end ===== */
/* ===== Custom styles start ======*/
/* ---Inner start--- */
.inner {
    background-image: url('../img/inner-bcg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
	text-align: center;
	padding-top: 77px;
}
.inner::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-left: -4px;
}
.inner .inner-content {
    display: inline-block;
	vertical-align: middle;
}
.inner-content h1 {
	letter-spacing: 1.7em;
	text-indent: 1.7em;
	font-size: 30px;
	margin-bottom: 100px;
	color: rgba(255, 255, 255, .9);
}
.inner span {
	font-size: 19px;
	color: rgba(255, 255, 255, .68);
}
/* ---Inner end--- */
/* ---About studio start */
.about-studio .team-wrapper {
	margin-top: 108px;
}
.team-item .team-item-img {
	position: relative;
}
.team-item .team-item-skills {
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	transition: all .2s linear;
}
.team-item .team-item-img:hover .team-item-skills {
	opacity: 1;
}
.team-item-info.title{
	color: #777;
	letter-spacing: .4em;
	padding: 30px;
}
.team-item-info span {
	display: block;
}
.team-item-name {
	font-weight: 400;
	margin-bottom: 15px;
}
.team-item-role {
	font-size: 12px;
}
.default-section.about-studio {
	border-bottom: 1px solid rgb(236, 236, 236);
}
/* ---About studio end --- */

/* ---Services start ---*/
#tabs-services .tabs-nav {
	margin-bottom: 80px;
	padding-top: 45px;
	overflow: hidden;
}
#tabs-services .tabs-nav li {
	float: left;
	width: 20%;
	text-align: center;
}
#tabs-services .tabs-nav li span {
	display: block;
	line-height: 1;
	color: rgba(17, 17, 17, .5);
}
#tabs-services .tabs-nav .ui-state-active span {
	color: rgb(17, 17, 17);
}
/* ---Services end ---*/
/* ---Lets-talk start--- */
.lets-talk-content {
	padding: 140px 0;
}
.lets-talk-content p {
	color: rgba(255, 255, 255, .7);
	margin-bottom: 35px;
}
.lets-talk .lets-talk-img {
	margin-top: -33px;
}
/* ---Lets-talk end--- */
/* ---Portfolio start */
.portfolio.default-section {
	padding-bottom: 0;
}
.tabs-wrapper {
	overflow: hidden;
}
.portfolio .portfolio-info p {
	max-width: 760px;
	margin: auto;
	color: #777;
}
#tabs-portfolio .tabs-nav{
	text-align: center;
}
#tabs-portfolio .tabs-nav li {
	display: inline-block;
	margin-top: 85px;
	margin-bottom: 50px;
}
#tabs-portfolio .tabs-nav li+li {
	margin-left: 68px;
}
#tabs-portfolio .tabs-nav li span {
	font-size: 13px;
	letter-spacing: .4em;
	color: rgba(17, 17, 17, .5);
}
#tabs-portfolio .tabs-nav .ui-state-active span {
	color: rgb(17, 17, 17);
}
#tabs-portfolio .portfolio-item {
	float: left;
	width: 33.333333%;
	padding: 4px;
}
#tabs-portfolio .portfolio-item img {
	width: 100%;
	filter: grayscale(100%);
}
#tabs-portfolio .portfolio-item img:hover {
	filter: grayscale(0);
}
/* ---Portfolio end */
/* ---Like-works starts --- */
.like-works {
	background-image: url('../img/like-us-bg.jpg');
}
/* ---Like-works end --- */

/* ---Why choose us--- */
.why-choose-us .row + .row {
	margin-top: 85px;
}
.why-icon {
	margin-top: 15px;
}
.why-item-title {
	font-size: 14px;
	letter-spacing: .4em;
	font-weight: 400;
	margin-bottom: 15px;
}
/* ---Why choose us end--- */
/* ---Reviews carousel --- */
.reviews-carousel {
	padding: 135px 0;
	overflow: hidden;
}
.reviews-carousel .slide-content {
	width: 760px;
	margin: auto;
}
.reviews-carousel .slide-content .icon-quote {
	margin-bottom: 23px;
	color: #fff;
}
.reviews-carousel .slide-content p {
	font-weight: 300;
	font-size: 18px;
	line-height: 1.6;
	color: rgba(255, 255, 255, .75);
}
	.reviews-carousel .slide-content .review-author {
	font-size: 11px;
	line-height: 3.5;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: rgba(255, 255, 255, .3)
}
.slick-dots {
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 30px;
}
.slick-dots li {
	display: inline-block;
	width: 9px;
	height: 9px;
	background-color: rgba(255, 255, 255, .8);
	border: 1px solid #000;
	border-radius: 50%;
	cursor: pointer;
}
.slick-dots li button {
	display: none;
}
.slick-dots li+li {
	margin-left: 5px;
}
.slick-dots li.slick-active {
	background-color: #000;
	border-color: rgba(255, 255, 255, .8);
}
.slick-arrow {
	position: absolute;
	height: 100%;
	top: 0;
	width: 90px;
	z-index: 1;
	cursor: pointer;
}
.slick-arrow.slick-prev {
	left: 0;
}
.slick-arrow.slick-next {
	right: 0;
}
.slick-arrow .carousel-button {
	width: 63px;
	height: 63px;
	background-color: #fff;
	transform: rotate(45deg);
	position: absolute;
	top: 50%;
	margin-left: -32px;
	margin-top: -31px;
	border-radius: 3px;
}
.slick-arrow.slick-next .carousel-button {
	right: 0;
	margin-right: -32px;
}
.slick-arrow .carousel-button i {
	position: absolute;
	transform: rotate(-45deg);
	font-size: 10px;
}
.slick-arrow.slick-prev .carousel-button .fa {
	bottom: 40px;
	right: 14px;
}
.slick-arrow.slick-next .carousel-button .fa {
	top: 40px;
	left: 14px;
}
/* --- Reviews carousel --- */
/* --- Latest news start ---- */
.latest-news .news-more {
	float: right;
	margin-top: 12px;
	font-size: 11px;
	letter-spacing: 0.4em;
	text-transform: uppercase;
	color: #999;
}
.latest-news .news-item img {
	filter: grayscale(93%);
	width: 100%;
}
.latest-news .news-item img:hover {
	filter: grayscale(0);
}
.latest-news .news-item-info {
	padding: 30px 0;
}
.latest-news .news-item-info span {
	display: block;
}
.latest-news .news-item-info .news-item-title {
	font-weight: 400;
	font-size: 15px;
	letter-spacing: .2em;
	color: #777;
	margin-bottom: 17px;
}
.latest-news .news-item-info .news-item-author {
	font-weight: 400;
	font-size: 11px;
	letter-spacing: .4em;
	color: #999;
	margin-bottom: 30px;
}
.latest-news .news-item-info p {
	line-height: 1.733;
}
/* --- Latest news end ---- */
/* --- Contacts start--- */
.contact-item .contact-item-content {
	display: inline-block;
	vertical-align: middle;
	margin-left: 15px;
}
.contact-item .contact-item-content span {
	display: block;
}
.contact-item .contact-item-content .contact-title {
	font-family: 'dosis';
	font-weight: 300;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: .2em;
	color: #777;
}
.contact-item .contact-item-content .contact-data {
	font-family: 'open sans'; 
	font-weight: 300;
	line-height: 1.73;
	color: #444;
}
/* --- Contacts end--- */
/* ===== Custom styles end ======*/